[DEFAULT]

[LOGGER]
file = log.txt
level = 1

[DATA-API]
protocol = http
host = example.de
port = 10001
username = kurs
password = [password. %-Zeichen muss durch %% ersetzt werden]

[DATABASE]
host = localhost
port = 5432
database_name = SE-Projekt
user = postgres
password = s3cr3t
